<!DOCTYPE html>
    <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Profile</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>
    <body>
      <div class="container">
        <h1 class="display-4 text-center py-1">My Books</h1>
        
        <div class="jumbotron p-3 shadow-sm">
          <form id="create_form">
            <div class="d-flex align-items-center">
              <!-- input fields with title, author, category ,price -->
              <div class="input-group mb-3">
                <form >
                  <input type="text" class="form-control" placeholder="Title" id="title" required>
                  <input type="text" class="form-control" placeholder="Author" id="author" required>
                  <input type="text" class="form-control" placeholder="Author" id="category" required>
                  <input type="number" class="form-control" placeholder="Price" id="price" required>
                  <button class="add_item btn btn-primary" type="button" onclick="createBook()">Add Book</button>
                </form>
              </div>
            </div>
          </form>
        </div>
        
        <ul id="item_list" class="list-group pb-5 list-unstyled w-25" >
        
        </ul>
        <br/>
        <br/>

      <form action='/logout' method="POST">
        <button> Logout <button>
      </form>
      </div>

      <script  src="https://unpkg.com/axios/dist/axios.min.js"> </script>
      <script src="/browser.js"></script>
    
    </body>
    </html>